@page-margin: 10px;
@page-width: 960px;
@text-width: 650px;
@blog-width: 560px;
@index-width: 880px;

.full {
    padding-left: @page-margin;
    padding-right: @page-margin;
}

.col {
    .full();
    margin-left: auto;
    margin-right: auto;
    max-width: @page-width;
}

.tcol {
    .full();
    margin-left: auto;
    margin-right: auto;
    max-width: @text-width;
}

.bcol {
    .full();
    margin-left: auto;
    margin-right: auto;
    max-width: @blog-width;
}

.icol {
    .full();
    margin-left: auto;
    margin-right: auto;
    max-width: @index-width;
}

.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sec {
    .col();
    padding-top: 10px;
    padding-bottom: 10px;
}

div.path {
    span.sep {
        padding-left: 9px;
        padding-right: 9px;
    }
}
