@mono-font: "Noto Sans Mono", monospace;

.mono { font-family: @mono-font; }

.mono14 { 
    font-family: @mono-font;
    font-size: 14px;
}

.mono13 { 
    font-family: @mono-font;
    font-size: 13px;
}

.mono12 { 
    font-family: @mono-font;
    font-size: 12px;
}

.mono11 { 
    font-family: @mono-font;
    font-size: 11px;
}
